LAB3/customers.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="customers">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Row">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonID" type="xs:byte"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="Address" type="xs:string"/>
						<xs:element name="City" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
